<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="{{.Site.BaseURL}}/list.css">
</head>
<body>

        <header>
                
                <nav class="flex_cont">
                    
			<a href="{{.Site.BaseURL}}/">Página inicial</a>
			<a href="{{.Site.BaseURL}}/categorias">Categorias</a>
			<a href="{{.Site.BaseURL}}/contato">Contato</a>
			<a href="{{.Site.BaseURL}}/sobre-mim">Sobre mim</a>
                        
                    
                </nav>
            </header>
            


    
    <main class="div_cont">
            <section >
                    <div class="vivencia">

                        <div class="descricao_vivencia">
                                {{.Title}}
                                {{.Params.descricao}}
                               
    
                        </div>
                           

                        {{ range .Pages }}
                        <div class="item">
                                
                            <div>
                                <a href="{{.URL}}">{{.Title}}</a>
                                <div class="descricao_curso">
                                        {{.Params.tempo}}
                                        {{.Params.descricao}}
                                </div>

                            </div>
                                
                        </div>
      
                            {{end}}
            
                   </div>



            </section>
            <aside>
                
            </aside>


    </main>


    <footer>
            
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-facebook">Facebook</a>
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-google-plus">Google Plus</a>
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-twitter">Twitter</a>
        
</footer>

   
    <!-- {{ block "main" .}}



    {{ end }} -->




</body>
</html>


<!-- {{ define "main" }}

       <div class="vivencia">
                {{ range .Pages }}
            
            <ul>
                <li><a href="{{.URL}}">{{.Title}}</a></li>
           </ul>
                {{end}}

       </div>
       

        {{.Content}}


{{ end }}
   
         -->
    
    
