<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="{{.Site.BaseURL}}/single.css">
</head>
<body>
        <header>
                
                <nav class="flex_cont">
                    
			<a href="{{.Site.BaseURL}}/">Página inicial</a>
			<a href="{{.Site.BaseURL}}/categorias">Categorias</a>
			<a href="{{.Site.BaseURL}}/contato">Contato</a>
			<a href="{{.Site.BaseURL}}/sobre-mim">Sobre mim</a>
                        
                    
                </nav>
            </header>

    
    
    <main class="div_cont">
            <section >
                    {{.Content}}


            </section>
            <aside>
                    {{ $data := .Params.vivencia}}
                    {{.Params.vivencia }}
                    {{ range .Site.Data.conteudo }}
                        {{if eq .vivencia  $data}}
                        <br> entrou no if
                        {{range  $elem_val :=.posts}}
                            {{ $elem_val}}
                        {{end}}
                    {{else}}
                        {{ $data }}
                       <br> oi mundo
                    {{end}}
                    {{end}}

                
            </aside>


    </main>

    <footer>
            
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-facebook">Facebook</a>
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-google-plus">Google Plus</a>
	    <a href="{{.Site.BaseURL}}/meu-perfil-do-twitter">Twitter</a>
            
    </footer>


</body>
</html>

    <!-- {{ block "main" .}}



    {{ end }} -->




<!-- {{ define "main" }}
    
    {{.Params.parametro1}}
    {{.Content}}




{{ end }}




{{ define "lado" }}
{{ $data := .Params.vivencia}}
    {{.Params.vivencia }}
    {{ range .Site.Data.conteudo }}
        {{if eq .vivencia  $data}}
        <br> entrou no if
        {{range  $elem_val :=.posts}}
            {{ $elem_val}}
        {{end}}
    {{else}}
        {{ $data }}
       <br> oi mundo
    {{end}}
    {{end}}
{{ end}}
    -->
        
